<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Thêm sách mới</title>
</head>

<body>

    <section layout:fragment="content">

        <h3 class="mb-4">➕ Thêm sách</h3>

        <form th:action="@{/books/add}" method="post" th:object="${book}" enctype="multipart/form-data">

            <!-- Tiêu đề -->
            <div class="mb-3">
                <label class="form-label">Tiêu đề</label>
                <input type="text" class="form-control" th:field="*{title}"
                    th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'">

                <div class="invalid-feedback" th:errors="*{title}"></div>
            </div>

            <!-- Tác giả -->
            <div class="mb-3">
                <label class="form-label">Tác giả</label>
                <input type="text" class="form-control" th:field="*{author}"
                    th:classappend="${#fields.hasErrors('author')} ? 'is-invalid'">

                <div class="invalid-feedback" th:errors="*{author}"></div>
            </div>

            <!-- Gía -->
            <div class="mb-3">
                <label class="form-label">Giá</label>
                <input type="number" class="form-control" th:field="*{price}"
                    th:classappend="${#fields.hasErrors('price')} ? 'is-invalid'">  

            <!-- Ảnh -->
            <div class="mb-3">
                <label class="form-label">Ảnh</label>
                <input type="file" class="form-control" name="imageFile" accept="image/*">
            </div>


            <!-- Danh mục -->
            <div class="mb-3">
                <label class="form-label">Danh mục</label>
                <select class="form-select" th:field="*{category.id}"
                    th:classappend="${#fields.hasErrors('category')} ? 'is-invalid'">

                    <option value="">-- Chọn danh mục --</option>

                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}">
                    </option>
                </select>

                <div class="invalid-feedback" th:errors="*{category}"></div>
            </div>

            <button class="btn btn-success">💾 Lưu</button>
            <a class="btn btn-secondary" th:href="@{/books}">⬅ Quay lại</a>

        </form>

    </section>


</body>

</html>